body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#container {
    display: flex;
    border: 3px solid black;
    flex-wrap: wrap;
}

#container div {
    border: 1px solid black;
    height: 21px;
    width: 21px;
    background-color: lightgray;
    box-sizing: border-box;

}

#newGrid{
    display: flex;
    margin-bottom: 10px;
}

#clear {
    display: flex;
    margin-bottom: 10px;
}
